{% if appointments.length %}
{% for appointment in appointments %}
<li class="provider">
  <div>
    <img src="/files/{{ appointment.user.avatar }}" alt="Avatar">
    <strong>{{ appointment.user.name }} às {{ appointment.date | date("HH:mm") }}</strong>
  </div>
</li>
{% endfor %}
{% else %}
<p>Nenhum agendamento marcado para este dia.</p>
{% endif %}
